/* import font from file */
@font-face {
	font-family: "Swansea";
	font-style: normal;
	font-weight: 400;
	src: url(./fonts/Swansea-q3pd.ttf) format("truetype");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Swansea", Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

/* NOTIFICATIONS */

.notifications {
	position: fixed;
	padding: 10px 20px;
	z-index: 80;
	height: 35%;
	width: 20%;
	overflow: hidden;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.notification {
	position: relative;
	margin: 10px 0;
	border-radius: 5px;
	background: #00000050;
	width: 100%;
	max-width: 100%;
	text-wrap: break-word;
	height: fit-content;
	filter: drop-shadow(5px 5px 0.5rem #ffffff4e);
	padding: 15px;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 10px;
}

.notification span {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 5px;
	color: white;
}

.notification i {
	font-size: 1.2rem;
	font-weight: 600;
}

.notification h2 {
	font-size: 1rem;
	line-height: 0.6;
}

.notification p {
	font-size: 0.8rem;
}

.notification .decor-lat {
	position: absolute;
	top: 25%;
	left: -2.5px;
	height: 50%;
	width: 5px;
	background: currentColor;
	border-radius: 5px;
}

.notification .decor-top {
	position: absolute;
	top: 0;
	right: 15px;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	color: currentColor;
	overflow: hidden;
	gap: 5px;
}

.notification .decor-top li {
	margin-top: -5px;
	height: 14px;
	width: 10px;
	border-radius: 45%;
	background: currentColor;
}

.notifications.from-left .notification.show {
	animation: notifyInLeft 0.6s ease-in-out forwards;
}

.notifications.from-left .notification.out {
	animation: notifyOutLeft 0.4s ease-in-out forwards;
}

.notifications.from-right .notification.show {
	animation: notifyInRight 0.6s ease-in-out forwards;
}

.notifications.from-right .notification.out {
	animation: notifyOutRight 0.4s ease-in-out forwards;
}

.notifications.from-top .notification.show {
	animation: notifyInTop 0.6s ease-in-out forwards;
}

.notifications.from-top .notification.out {
	animation: notifyOutTop 0.4s ease-in-out forwards;
}

.notifications.from-bottom {
	justify-content: flex-start;
	flex-direction: column-reverse;
}

.notifications.from-top {
	justify-content: flex-start;
}

.notifications.from-left {
	align-items: flex-start;
}

.notifications.from-right {
	align-items: flex-end;
}

.notifications.from-bottom .notification.show {
	animation: notifyInBottom 0.6s ease-in-out forwards;
}

.notifications.from-bottom .notification.out {
	animation: notifyOutBottom 0.4s ease-in-out forwards;
}

@keyframes notifyInLeft {
	0% {
		transform: translateX(-200%) scaleX(0);
	}
	60% {
		transform: translateX(-20%) scale(0.5);
	}
	80% {
		transform: translateX(0) scale(0.8);
	}
	100% {
		transform: scaleX(1);
	}
}

@keyframes notifyOutLeft {
	0% {
		transform: scaleX(1);
	}
	40% {
		transform: translateX(0) scale(0.8);
	}
	40% {
		transform: translateX(-20%) scale(0.5);
	}
	100% {
		transform: translateX(-200%) scale(0);
	}
}

@keyframes notifyInRight {
	0% {
		transform: translateX(200%) scaleX(0);
	}
	60% {
		transform: translateX(20%) scale(0.5);
	}
	80% {
		transform: translateX(0) scale(0.8);
	}
	100% {
		transform: scaleX(1);
	}
}

@keyframes notifyOutRight {
	0% {
		transform: scaleX(1);
	}
	40% {
		transform: translateX(0) scale(0.8);
	}
	40% {
		transform: translateX(20%) scale(0.5);
	}
	100% {
		transform: translateX(200%) scale(0);
	}
}

@keyframes notifyInTop {
	0% {
		transform: translateY(-200%) scaleY(0);
	}
	60% {
		transform: translateY(-20%) scale(0.5);
	}
	80% {
		transform: translateX(0) scale(0.8);
	}
	100% {
		transform: scaleY(1);
	}
}

@keyframes notifyOutTop {
	0% {
		transform: scaleY(1);
	}
	40% {
		transform: translateX(0) scale(0.8);
	}
	40% {
		transform: translateY(-20%) scale(0.5);
	}
	100% {
		transform: translateY(-200%) scale(0);
	}
}

@keyframes notifyInBottom {
	0% {
		transform: translateY(200%) scaleY(0);
	}
	60% {
		transform: translateY(20%) scale(0.5);
	}
	80% {
		transform: translateX(0) scale(0.8);
	}
	100% {
		transform: scaleY(1);
	}
}

@keyframes notifyOutBottom {
	0% {
		transform: scaleY(1);
	}
	40% {
		transform: translateX(0) scale(0.8);
	}
	40% {
		transform: translateY(20%) scale(0.5);
	}
	100% {
		transform: translateY(200%) scale(0);
	}
}

/* MENU */

.menu {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 60%;
	height: 60%;
	background: #333;
	border: #000 10px solid;
	color: #fafafa;
	padding: 10px 20px;
	transform: translate(-50%, -50%);
	border-radius: 1rem;
	grid-template-rows: 10% 70% 20%;
	place-items: center;
	grid-template-columns: 80% 20%;
	gap: 1%;
	z-index: 90;
	display: grid;
	animation: hideCustomization 0.5s ease-in-out forwards;
}

.menu.show {
	animation: showCustomization 0.5s ease-in-out forwards;
	display: grid;
}

.menu h1 {
	font-size: 2rem;
	width: 100%;
	text-align: center;
	grid-column: 1 / 3;
	grid-row: 1;
}

.menu .positions {
	height: 100%;
	width: 100%;
	padding: 10px 20px;
	grid-column: 1;
	grid-row: 2;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	gap: 50px 30px;
	flex-wrap: wrap;
	overflow: hidden;
	overflow-y: auto;
}

.menu .positions .position {
	user-select: none;
	display: flex;
	flex-direction: column;
	flex: 1;
	word-break: keep-all;
	text-align: center;
	gap: 10px;
	background: #1c1c1c;
	border-radius: 1rem;
	white-space: nowrap;
	padding: 15px 20px;
	transition: all 0.3s ease-in-out;
}

.menu .positions .position:hover {
	background: #232323;
	scale: 1.05;
}

.menu .positions .position:active {
	scale: 0.95;
}

.menu .positions .position.position.active {
	background: rgb(126, 64, 2);
	scale: 1.05;
}

.menu .positions .position img {
	border-radius: 0.25rem;
	height: 70px;
	width: auto;
	object-fit: contain;
	aspect-ratio: 16/9;
}

.menu .buttons {
	grid-column: 2;
	grid-row: 2;
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.menu .buttons h3 {
	opacity: 0.8;
	margin-bottom: 1rem;
}

.menu .buttons button {
	padding: 10px 20px;
	border: none;
	border-radius: 0.5rem;
	background: #1c1c1c;
	color: #fafafa;
	font-size: 1rem;
	height: fit-content;
	text-align: center;
	cursor: pointer;
	width: 60%;
	transition: all 0.3s ease-in-out;
}

.menu .buttons button#info {
	background: #0072ff;
}

.menu .buttons button#info:hover {
	background: #0059e6;
}

.menu .buttons button#success {
	background: green;
}

.menu .buttons button#success:hover {
	background: #008000;
}

.menu .buttons button#error {
	background: red;
}

.menu .buttons button#error:hover {
	background: #800000;
}

.menu .buttons button#warning {
	background: orange;
}

.menu .buttons button#warning:hover {
	background: #ff8c00;
}

.menu .buttons button#bank {
	background: #81c719;
}

.menu .buttons button#bank:hover {
	background: #5a9304;
}

.menu .buttons button:hover {
	scale: 1.05;
}

.menu .buttons button:active {
	scale: 0.95;
}

.menu .volume {
	grid-column: 1 / 3;
	grid-row: 3;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.menu .volume h3 {
	opacity: 0.9;
	font-size: 1.5rem;
	word-break: keep-all;
	white-space: nowrap;
}

.menu .volume button {
	padding: 10px 20px;
	border: none;
	border-radius: 0.5rem;
	background: #1c1c1c;
	color: #fafafa;
	font-size: 1rem;
	height: fit-content;
	text-align: center;
	cursor: pointer;
	width: 60%;
	transition: all 0.2s ease-in-out;
}

.menu .volume button:hover {
	background: #232323;
}

.menu .volume button:active {
	scale: 0.95;
}

.menu .volume .volumeindicator {
	width: fit-content;
	height: fit-content;
	position: relative;
}

.menu .volume .volumeindicator input[type="number"] {
	position: absolute;
	text-align: center;
	width: 105%;
	top: -30px;
	left: 0;
	background: transparent;
	outline: none;
	border: none;
	color: white;
	font-size: medium;
}

.menu .volume .volumeindicator input[type="range"] {
	-webkit-appearance: none;
	width: 15vw;
	height: 5px;
	background: #1c1c1c;
	border-radius: 5px;
	outline: none;
	opacity: 0.7;
	transition: opacity 0.2s ease-in-out;
}

@keyframes showCustomization {
	0% {
		display: none;
		opacity: 0;
	}
	5% {
		display: grid;
	}
	100% {
		display: grid;
		opacity: 1;
	}
}

@keyframes hideCustomization {
	0% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
